<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixpractise/menu.application.title" opened="true">
        <item view="jmix_User.list" title="msg://com.company.jmixpractise.view.user/UserListView.title"/>
        <item view="jmix_Category.list" title="msg://com.company.jmixpractise.view.category/categoryListView.title"/>
    </menu>

</menu-config>